* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS */
:root {
    --pirmary: #FF5349;
    --secondary: #C71585;
}

/* HEADER STYLING */
header div {
    background: var(--secondary);
    width: 100%;
}

/* FOOTER STYLING */
footer {
    background: var(--secondary);
    text-decoration: none;
    
}