* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS */
:root {
    --pirmary: #606060ff;
    --secondary: #D6ED17FF;
}

/* HEADER STYLING */
header div {
    background: var(--pirmary);
    width: 100%;
}

/* FOOTER STYLING */
footer {
    background: var(--pirmary);
    bottom: 0;
    position: absolute;
    width: 100%;
    text-decoration: none;
}